.testimonialCard {
    background-color: #f4f4f4;
  }
  .customerName {
    color: #076b9d;
  }
  .ratings span {
    margin-left: 0 !important;
  }
  .topSection{
    height: 100px;
  }
  .commentSection {
    height: 125px;
  }