.footer {
    background-color: #1a1a1a;
    color: #e4dededc;
  }
  .myButton{
    color:#E94560
  }
  .social:hover {
    color: #E94560;
    cursor: pointer;
  }
  .quickNav {
    list-style: none;
    transition: 0.3s;
  }
  .quickNav {
    text-decoration: none;
    padding-left: 0px;
  }
  .menuItem {
    color: rgb(238, 235, 235);
    text-decoration: none;
    line-height: 2.5rem;
  }
  .menuItem:hover {
    color: #E94560;
    font-weight: 700;
  }
  .footerLogo {
    width: 220px;
  }
  .footerEnd {
    background-color: #080808;
  }